 .container {
    display: flex;
    width: 100vw;
}

/* .left {
    display: flex;
    
    /* flex-direction: column; */
    background-color: aquamarine;
    width: 80%;
    align-items: center;
    justify-content: center;

/* }  */

.right {
    background-color: aqua;
} 