 .container {
    display: flex;
    width: 100vw;
}

.left {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    background-color: aquamarine;
    width: 50%;
    align-items: center;
    justify-content: center;

}

.right {
    background-color: aqua;
} 